/* ======================================================= */
/* Archivo: ~/.config/rofi/power_menu.rasi                 */
/* Descripción: Tema para el menú de apagado en Rofi       */
/*              inspirado en temas oscuros, pero sin       */
/*              barra de búsqueda y con barra de título.   */
/* Autor: Yandri Loor                                      */
/* Fecha de creación: 25  de Septiembre del 2025           */
/* Última modificación: 25 de Septiembre del 2025          */
/* ======================================================= */

configuration {
    font: "JetBrains Mono 10";
    lines: 6;              /* Cantidad de filas visibles */
    padding: 10;
}

/* ======================================================= */
/* Estilos generales                                      */
/* ======================================================= */
* {
    background-color:  #222222;
    text-color:        White;
    border-color:      #444444;
    border-radius:     6;
    font:              "FiraCode Nerd Font 14";
    location:          center;
    x-offset:          -10;
    y-offset:          30;
}

/* ======================================================= */
/* Ventana principal                                      */
/* ======================================================= */
window {
    background-color:  #222222;
    text-color:        #ffffff;
    border:            2;
    border-radius:     9;
    padding:           3;
    width:             420px;
    height:            250px;
}

/* ======================================================= */
/* Barra de título                                        */
/* ======================================================= */
textbox {
    expand: false;
    str: "⏻ APAGAR";
    text-color: #ffffff;
    background-color: #444444;
    border: 1px;
    border-color: #89b4fa;
    border-radius: 6px;
    padding: 6px;
    horizontal-align: 0.5; /* Centrado */
}

/* ======================================================= */
/* Lista de información                                   */
/* ======================================================= */
listview {
    spacing: 5;
    scrollbar: false;
    fixed-height: true;
    separator: true;
    separator-color: #555555;
}

/* ======================================================= */
/* Elementos                                               */
/* ======================================================= */
element {
    background-color: transparent;
    text-color: #ffffff;
    padding: 3;
}

element selected {
    background-color: #a6e3a1;
    text-color: #222222;
}

element alternate {
    text-color: #d9e00e;
}

/* ======================================================= */
/* Layout                                                 */
/* ======================================================= */
mainbox {
    children: [ textbox, listview ];  /* primero el título, luego la lista */
    spacing: 10px;
    padding: 10px;
}

